USE [master]
GO
/****** Object:  Database [STM_DW]    Script Date: 23/07/2014 3:51:27 PM ******/
CREATE DATABASE [STM_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STM_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\STM_DW.mdf' , SIZE = 18432KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'STM_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\STM_DW_log.ldf' , SIZE = 16576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STM_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STM_DW]
GO
/****** Object:  Table [dbo].[DimBusLine]    Script Date: 23/07/2014 3:51:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimBusLine](
	[DimBusID] [int] IDENTITY(1,1) NOT NULL,
	[BusLineCode] [int] NOT NULL,
	[BusLineName] [varchar](150) NOT NULL,
	[BusLineURL] [varchar](150) NULL,
	[BusLineOrientation] [varchar](50) NOT NULL,
	[BusLineDirection] [varchar](50) NOT NULL,
	[WheelchairAccessible] [bit] NULL,
 CONSTRAINT [PK_DimBusLine] PRIMARY KEY CLUSTERED 
(
	[DimBusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 23/07/2014 3:51:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimDate](
	[DimDateID] [int] NOT NULL,
	[Date] [datetime] NULL,
	[ServiceID] [varchar](50) NULL,
	[IsWeekDay] [bit] NULL,
	[IsWeekEnd] [bit] NULL,
	[IsHoliday] [bit] NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[DimDateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimFare]    Script Date: 23/07/2014 3:51:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimFare](
	[DimFareID] [int] IDENTITY(1,1) NOT NULL,
	[FareName] [varchar](50) NULL,
	[FarePrice] [smallmoney] NULL,
	[Currency] [varchar](50) NULL,
	[TransferDuration] [int] NULL,
 CONSTRAINT [PK_DimFare] PRIMARY KEY CLUSTERED 
(
	[DimFareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimStop]    Script Date: 23/07/2014 3:51:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimStop](
	[DimStopID] [int] IDENTITY(1,1) NOT NULL,
	[StopCode] [varchar](50) NOT NULL,
	[StopName] [varchar](150) NOT NULL,
	[StopURL] [varchar](150) NULL,
	[Latitude] [varchar](50) NULL,
	[Longitude] [varchar](50) NULL,
	[PostalCode] [varchar](7) NULL,
	[District] [varchar](150) NULL,
	[City] [varchar](150) NULL,
	[WheelchairBoarding] [bit] NULL,
 CONSTRAINT [PK_DimStop] PRIMARY KEY CLUSTERED 
(
	[DimStopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FactStopTimes]    Script Date: 23/07/2014 3:51:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactStopTimes](
	[DimStopID] [int] NOT NULL,
	[DimBusID] [int] NOT NULL,
	[DimDateID] [int] NOT NULL,
	[DimFareID] [int] NOT NULL,
	[StopSequence] [int] NULL,
	[DepartureTime] [time](7) NULL,
 CONSTRAINT [PK_FactStopTimes] PRIMARY KEY CLUSTERED 
(
	[DimStopID] ASC,
	[DimBusID] ASC,
	[DimDateID] ASC,
	[DimFareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[FactStopTimes]  WITH CHECK ADD  CONSTRAINT [FK_FactStopTimes_DimBusLine] FOREIGN KEY([DimBusID])
REFERENCES [dbo].[DimBusLine] ([DimBusID])
GO
ALTER TABLE [dbo].[FactStopTimes] CHECK CONSTRAINT [FK_FactStopTimes_DimBusLine]
GO
ALTER TABLE [dbo].[FactStopTimes]  WITH CHECK ADD  CONSTRAINT [FK_FactStopTimes_DimDate] FOREIGN KEY([DimDateID])
REFERENCES [dbo].[DimDate] ([DimDateID])
GO
ALTER TABLE [dbo].[FactStopTimes] CHECK CONSTRAINT [FK_FactStopTimes_DimDate]
GO
ALTER TABLE [dbo].[FactStopTimes]  WITH CHECK ADD  CONSTRAINT [FK_FactStopTimes_DimFare] FOREIGN KEY([DimFareID])
REFERENCES [dbo].[DimFare] ([DimFareID])
GO
ALTER TABLE [dbo].[FactStopTimes] CHECK CONSTRAINT [FK_FactStopTimes_DimFare]
GO
ALTER TABLE [dbo].[FactStopTimes]  WITH CHECK ADD  CONSTRAINT [FK_FactStopTimes_DimStop] FOREIGN KEY([DimStopID])
REFERENCES [dbo].[DimStop] ([DimStopID])
GO
ALTER TABLE [dbo].[FactStopTimes] CHECK CONSTRAINT [FK_FactStopTimes_DimStop]
GO
USE [master]
GO
